#root {
    max-width: 1280px;
    margin: 0 auto;

    min-width: 260px;
    min-height: 430px;

    /* padding: 2rem; */
    /* text-align: center; */
}

.board-row {
  display: flex;
  justify-content: center;
  align-items: center;
    width: '100%' !important;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
}

.status {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
    font-size: 1.5rem;
}
