#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  /* text-align: center; */
}

.board-row {

  display: flex;

  /* width: 80px;
  min-width: 80px !important;
  height: 80px;
  min-height: 80px !important; */

}

